{% extends "base.html" %}

{% block content %}
    <h1>Class Batch Teacher</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.user_id.label }}<br>
            {{ form.user_id() }}
            {% for error in form.user_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.class_batch_id.label }}<br>
            {{ form.class_batch_id() }}
            {% for error in form.class_batch_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr>
    <h2>Existing Class Batch Teachers</h2>
    <ul>
        {% for teacher in teachers %}
        <li>{{ teacher.user.username }} - {{ teacher.class_batch.batch_no }}</li>
        {% endfor %}
    </ul>
{% endblock %}