{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: center; align-items: center; height: 20vh;">
        <h1 style="animation: fadeIn 4s ease-in-out; animation-fill-mode: both; animation-delay: 1s ease-in-out;">Students Information and Management System</h1>
    </div>

<style>
    @keyframes fadeIn {
        0% { opacity: 0; transform: translateY(-20px); }
        100% { opacity: 1; transform: translateY(0); }
    }
</style>
{% endblock %}