{% extends "base.html" %}

{% block content %}
    <h1>Class Group Mentors</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Class Name</th>
                <th>Batch No</th>
                <th>Class Region</th>
                <th>Class Group</th>
            </tr>
        </thead>
        <tbody>
            {% for mentor in mentors %}
            <tr>
                <td>{{ mentor.id }}</td>
                <td>{{ mentor.user.username }}</td>
                <td>{{ mentor.class_name.name }}</td>
                <td>{{ mentor.class_batch.batch_no }}</td>
                <td>{{ mentor.class_region.section if mentor.class_region else '' }}</td>
                <td>{{ mentor.class_group.description if mentor.class_group else '' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
