{% extends "base.html" %}

{% block content %}
    <h1>Class Group Indexes</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Class Name</th>
                <th>Batch No</th>
                <th>Class Region</th>
                <th>Description</th>
                <th>Start Index</th>
                <th>End Index</th>
            </tr>
        </thead>
        <tbody>
            {% for index in indexes %}
            <tr>
                <td>{{ index.id }}</td>
                <td>{{ index.class_region.class_name.name }}</td>
                <td>{{ index.class_region.class_batch.batch_no }}</td>
                <td>{{ index.class_region.section }}</td>
                <td>{{ index.description }}</td>
                <td>{{ index.start_index }}</td>
                <td>{{ index.end_index }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}