{% extends "base.html" %}

{% block content %}
    <h1>Class Regions</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Class Name</th>
                <th>Batch No</th>
                <th>Section</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td>{{ region.class_name.name }}</td>
                <td>{{ region.class_batch.batch_no }}</td>
                <td>{{ region.section }}</td>
                <td>{{ region.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
