{% extends "base.html" %}

{% block content %}
    <h1>Class Batches</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Class Name</th>
                <th>Batch No</th>
                <th>Start Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for batch in batches %}
            <tr>
                <td>{{ batch.id }}</td>
                <td>{{ batch.class_name.name }}</td>
                <td>{{ batch.batch_no }}</td>
                <td>{{ batch.start_date.strftime('%Y-%m-%d') }}</td>
                <td>{{ batch.status.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
