{% extends "base.html" %}

{% block content %}
    <h1>User Passwords</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>ID</th>
                <th>Email</th>
                <th>Password Hash (partial)</th>
                <th>Attempt Count</th>
                <th>Is Allowed</th>
                <th>Force Change</th>
                <th>Last Attempt</th>
                <th>Last Successful Attempt</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.contact.email if user.contact else '' }}</td>
                <td>{{ user.password.password_hash[:10] if user.password else '' }}...</td>
                <td>{{ user.password.attempt_counts if user.password else '' }}</td>
                <td>{{ user.password.is_allowed if user.password else '' }}</td>
                <td>{{ user.password.force_change if user.password else '' }}</td>
                <td>{{ user.password.last_attempt_time if user.password else '' }}</td>
                <td>{{ user.password.last_successful_attempt_time if user.password else '' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
