{% extends "base.html" %}

{% block content %}
    <h1>All Possible Roles</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Role</th>
                <th>Level</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.role }}</td>
                <td>{{ role.level }}</td>
                <td>{{ role.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
