{% extends "base.html" %}

{% block content %}
    <h1>User Statuses</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.status }}</td>
                <td>{{ status.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}