{% extends 'base.html' %}

{% block title %}Register Template{% endblock %}

{% block content %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ batch }} Registration Form</title>
 </head>
 <body>
<pre>
*STUDENT DETAILS FOR {{ batch }} BATCH*
======================================
Full Name : 
Mobile# : 
WhatsApp# : 
Gender : 
——————————————
HOMETOWN DETAILS
Town/City : 
District : 
State : 
Country :
——————————————
CURRENT RESIDENCE
City : 
State :  
Country : 
Pin/Zip :
——————————————
OTHER DETAILS
Year of birth : 
Qualification : 
Profession : 
Email Address : 
——————————————
REFERRED By : 
Full Name : 
Mobile# : 
Student ID# : 
Batch# :
——————————————
</pre>  
</body>
</html>
{% endblock %}