{% extends 'base.html' %}

{% block title %}Register Template{% endblock %}

{% block content %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ batch }} Registration Form</title>
 </head>
 <body>
<pre style="padding: 20px;">
*STUDENT DETAILS FOR {{ batch }} BATCH*
Full Name : 
Mobile# : 
WhatsApp# : 
Gender : 
——————————————
HOMETOWN DETAILS
Country :
State : 
District : 
Town/City : 
——————————————
CURRENT RESIDENCE
Country : 
State :  
City :
Area :
——————————————
OTHER DETAILS
Year of birth : 
Education : 
Profession : 
Email Address : 
——————————————
REFERRED By : 
Full Name : 
Mobile# : 
Student ID# : 
Batch# :
——————————————
</pre>  
</body>
</html>
{% endblock %}