{% extends 'base.html' %}

{% block title %}Register A User From WhatsApp Text{% endblock %}

{% block content %}
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <h1>Register From WhatsApp Text</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            <p>{{ form.whatsapptext.label }}</p>
            {{ form.whatsapptext()}}
        </div>
        <div>
            {{ form.register() }}
        </div>
    </form>
</body>
{% endblock %}