{% extends "base.html" %}

{% block content %}
    <h1>Remove Role</h1>
    <form method="POST" action="{{ url_for('remove_role') }}" onsubmit="return confirm('Are you sure you want to delete the selected roles?');">
        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    <th>Role</th>
                    <th>Level</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                <tr>
                    <td><input type="checkbox" name="role_ids" value="{{ role.id }}"></td>
                    <td>{{ role.role }}</td>
                    <td>{{ role.level }}</td>
                    <td>{{ role.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-danger">Delete Selected</button>
    </form>
{% endblock %}

{% block custom_scripts %}
<script>
    document.getElementById('select-all').onclick = function() {
        var checkboxes = document.getElementsByName('role_ids');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }
</script>
{% endblock %}
