{% extends "base.html" %}

{% block content %}
    <h1>Role</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.role.label }}<br>
            {{ form.role(size=16) }}
            {% for error in form.role.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.level.label }}<br>
            {{ form.level() }}
            {% for error in form.level.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=255) }}
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr>
    <h2>Existing Roles</h2>
    <ul>
        {% for role in roles %}
        <li>{{ role.role }}</li>
        {% endfor %}
    </ul>
{% endblock %}