{% extends "base.html" %}

{% block content %}
    <h1>Search Class Group</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.search.label }}<br>
            {{ form.search(size=64) }}
            {% for error in form.search.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr>
    <h2>Search Results</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Class Name</th>
                <th>Batch No</th>
                <th>Class Region</th>
                <th>Description</th>
                <th>Start Index</th>
                <th>End Index</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.class_region.class_name.name }}</td>
                <td>{{ group.class_region.class_batch.batch_no }}</td>
                <td>{{ group.class_region.section }}</td>
                <td>{{ group.description }}</td>
                <td>{{ group.start_index }}</td>
                <td>{{ group.end_index }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
