{% extends "base.html" %}

{% block content %}
    <h1>Update Referrer for {{ user.username }}</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.full_name.label }}<br>
            {{ form.full_name(size=64) }}<br>
            {% for error in form.full_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mobile.label }}<br>
            {{ form.mobile(size=32) }}<br>
            {% for error in form.mobile.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=120) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.batch.label }}<br>
            {{ form.batch(size=16) }}<br>
            {% for error in form.batch.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.referrer_id.label }}<br>
            {{ form.referrer_id(size=32) }}<br>
            {% for error in form.referrer_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
