{% extends "base.html" %}

{% block content %}
    <h1>Update Class Name</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for class_name in class_names %}
            <tr>
                <td>{{ class_name.name }}</td>
                <td><a href="{{ url_for('update_class_name_item', id=class_name.id) }}" class="btn btn-primary">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
