{% extends "base.html" %}

{% block content %}
    <h1>User Profile</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">{{ user.email }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Enrolled Classes
                </div>
                <ul class="list-group list-group-flush">
                    {% for group in student_groups %}
                        <li class="list-group-item">
                            {{ group.class_group.class_region.class_name.name }} - 
                            {{ group.class_group.class_region.class_batch.batch_no }} -
                            {{ group.class_group.class_region.section }} -
                            {{ group.class_group.description }}
                        </li>
                    {% else %}
                        <li class="list-group-item">No classes enrolled.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
