{% extends "base.html" %}

{% block content %}
    <h1>User Role</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.user_id.label }}<br>
            {{ form.user_id() }}
            {% for error in form.user_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.role_id.label }}<br>
            {{ form.role_id() }}
            {% for error in form.role_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.class_name_id.label }}<br>
            {{ form.class_name_id(id='class_name_id') }}
            {% for error in form.class_name_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.class_batch_id.label }}<br>
            {{ form.class_batch_id(id='class_batch_id') }}
            {% for error in form.class_batch_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.class_region_id.label }}<br>
            {{ form.class_region_id(id='class_region_id') }}
            {% for error in form.class_region_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.class_group_id.label }}<br>
            {{ form.class_group_id() }}
            {% for error in form.class_group_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }} <a href="{{ url_for('index') }}" class="btn btn-primary">Back</a></p>
    </form>
    <hr>
    <h2>Existing User Roles</h2>
    <ul>
        {% for user_role in user_roles %}
        <li>{{ user_role.user.username }} - {{ user_role.role.role }} - {{ user_role.class_batch.class_name.name }} - {{ user_role.class_batch.batch_no }} - {{ user_role.class_region.section if user_role.class_region else 'All' }} </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block custom_scripts %}
<script>
    $(document).ready(function() {
        $('#class_name_id').on('change', function() {
            var class_name_id = $(this).val();
            var batchSelect = $('#class_batch_id');
            var regionSelect = $('#class_region_id');

            // Reset both dependent dropdowns
            batchSelect.empty().append('<option value="">Select Batch</option>');
            regionSelect.empty().append('<option value="">All Regions</option>');

            if (class_name_id) {
                $.ajax({
                    url: '/api/class_batches/' + class_name_id,
                    type: 'GET',
                    success: function(data) {
                        $.each(data, function(index, batch) {
                            batchSelect.append($('<option>', {
                                value: batch.id,
                                text: batch.name
                            }));
                        });
                    },
                    error: function() {
                        // Handle error if the API call fails
                        console.log('Error fetching class batches.');
                    }
                });
            }
        });

        $('#class_batch_id').on('change', function() {
            var class_batch_id = $(this).val();
            var regionSelect = $('#class_region_id');
            
            // Reset region dropdown
            regionSelect.empty().append('<option value="">All Regions</option>');

            if (class_batch_id) {
                $.ajax({
                    url: '/api/class_regions/' + class_batch_id,
                    type: 'GET',
                    success: function(data) {
                        $.each(data, function(index, region) {
                            regionSelect.append($('<option>', {
                                value: region.id,
                                text: region.name
                            }));
                        });
                    },
                    error: function() {
                        console.log('Error fetching class regions.');
                    }
                });
            }
        });
    });
</script>
{% endblock %}